In [2]:
import pandas as pd
import numpy as np

In [3]:
# criação de dataframes a partir de arrays

In [4]:
arr = np.random.randint(10,55,size=(4,4))

In [6]:
arr

array([[53, 42, 12, 52],
       [29, 41, 40, 34],
       [47, 43, 42, 19],
       [48, 53, 34, 32]])

In [49]:
df = pd.DataFrame(data=arr, index=['a','b','c','d'],columns=['w','x','y','z'])

In [50]:
df

    w   x   y   z
a  53  42  12  52
b  29  41  40  34
c  47  43  42  19
d  48  53  34  32

In [12]:
# criação de dataframes a partir de listas

In [36]:
lista = [[10,20,30,40,50],[60,70,80,90,100],[110,120,130,140,150]]

In [45]:
df2 = pd.DataFrame(data=lista,index=['a','b','c'],columns=['v','w','x','y','z'])

In [46]:
df2

     v    w    x    y    z
a   10   20   30   40   50
b   60   70   80   90  100
c  110  120  130  140  150

In [51]:
# criando dataframes a partir de dicionarios

In [61]:
dados = {'pessoas':['ana','pedro','agatha','roberta'],'numeros':['111-111','222-222','333-333','444-444'],'id':['AHDYSK','JSIBDT','OPAEQT','JKILOP']}

In [62]:
dados

{'pessoas': ['ana', 'pedro', 'agatha', 'roberta'],
 'numeros': ['111-111', '222-222', '333-333', '444-444'],
 'id': ['AHDYSK', 'JSIBDT', 'OPAEQT', 'JKILOP']}

In [63]:
df3 =pd.DataFrame(data=dados)

In [64]:
df3

   pessoas  numeros      id
0      ana  111-111  AHDYSK
1    pedro  222-222  JSIBDT
2   agatha  333-333  OPAEQT
3  roberta  444-444  JKILOP

In [65]:
# criando uma nova coluna

In [66]:
df3['cnh']=['975486','679481','649781','6497813']

In [67]:
df3

   pessoas  numeros      id      cnh
0      ana  111-111  AHDYSK   975486
1    pedro  222-222  JSIBDT   679481
2   agatha  333-333  OPAEQT   649781
3  roberta  444-444  JKILOP  6497813